*.py[cod]
__pycache__
build/
sundic.egg-info/
.ipynb_checkpoints/
.env
results.sdic
todo
test_sundic.py
SUN-DIC.code-workspace
SUN_DIC.egg-info/
settings.json
sundic/docs/SUN-DIC_Manual.aux
sundic/docs/SUN-DIC_Manual.bbl
sundic/docs/SUN-DIC_Manual.blg
sundic/docs/SUN-DIC_Manual.log
sundic/docs/SUN-DIC_Manual.out
sundic/docs/SUN-DIC_Manual.toc
sundic/docs/SUN-DIC_Manual.synctex.gz
